body{
    background-color: lightcyan !important;
    height: 100ex;
}

.form-Portion{
    height: 40ex;
    width: 50ex;
    margin: auto;
    border: 3px solid limegreen;
    border-radius: 9px;
    padding: 5px;
    background-color: palegreen;
    margin-top: 35ex;
}

.form-control{
    margin-top: 8px;
}

.signUpBtn{
    float: right;
    margin-top: 3em;
}

.signInBtn{
    float: right;
    position: relative;
    /*right: 0;*/
    padding-bottom: 0px;
    margin-top: 7.8em;
}

#para1{
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 2px 2px lightslategrey;
}